# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# wrangler files
.wrangler
.dev.vars
ai_docs/*
!ai_docs/COMMON_GUIDE.md
!ai_docs/PRD.md
!ai_docs/ARCHITECTURE.md
!ai_docs/DESIGN_SYSTEM.md